body {
	font-size: 1em;
	font-family: 'Playfair Display', serif;
	font-style: normal;
	line-height: 2em;
	background: url('../img/background_section.jpg');
	background-size: cover; 
	color: #4e5b6d;
}

header, #top {
	font-size: 1.5em;
	text-align: center;
	color: white;
}

header {
	background-color: rgba(223, 203, 240, 1.0);
}

.container div a i {
	display: block;
}

.container div a {
	display: inline-block;
}

.container div {
	padding: 10px;
}

#top {
	background: url('../img/fond.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px; 
}

#offrepromo {
	background-color: rgba(227, 213, 239, 1.0);
}

a {
	text-decoration: none;
	color: white;
	font-weight: normal;
	padding: 20px;
}

nav div {
	display: inline-block;
}

nav {
	font-size: 1.5em;
	font-family: 'Kaushan Script';
	font-weight: normal;
}

h1, h2, h3 {
	font-family: 'Kaushan Script';
	font-size: 2em;
	font-weight: normal;
}

h1 {
	color: white;
	font-weight: bold;
	font-style: italic;
}

h2, h3 {
	text-align: center;
	font-weight: 80;
	font-style: none;
}

hr {
	width: 80%;
}

table {
	border-collapse: collapse;
	text-align: center;
	margin: auto;
	width: 90%;
	margin-top: 20px;
}

caption {
	font-size: 2em;
}
table td, table th {
	border: 1px solid #4e5b6d;
	padding: 8px;
}

thead {
	background-color: #c4a5de;
	color: white;
	width: 100%;
	font-family: 'Kaushan Script';
	font-size: 1.6em;
}

.formulaire fieldset {
	margin: 25px 0;
}

.left {
	text-align: left;
}

.purple {
	color: #c4a5de;
	cursor: pointer;
}
.backgroundGrey {
	background-color: #f2f2f2;
}

fieldset {
	border: 1px solid #dedede;
}

button {
	background-color: #8c5ac4;
	color: white;
	padding: 6px;
	border: 1px solid #8c5ac4;
	display: block;
	align-items: center;
	margin:auto;
	margin-top: 20px;
	cursor: pointer;
}

article {
	padding: 20px;
}
.formulaire {
	text-align: center;
}
form p {
	display: inline-block;
}
.formulaireReservation {
	background-color: white;
}

select {
	width: 100%;
	padding: 6px;
}

.clear {
	clear: both;
}

#partie1 img {
	float: left;
}

#partie2 img {
	float: right;
}

#caps {
	text-transform: uppercase;
}

#sectionpresentation article {
	padding: 30px 30px 30px 30px;
}

#sectionpresentation img {
	margin: 0 30px 30px 30px;
}

#sectionpresentation {
	background-color: white;
}
#sectionbackground {
	background: url('../img/background_section.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#sectionbackground article {
	display: inline-block;
	vertical-align: top;
	width: 33%;
	text-align: center;
	color: white;
	padding: 20px;
	box-sizing: border-box;
}

#sectionbackground img {
	height: 100px;
}

#licence {
    display: block;
    text-align: center;
    padding: 25px;
}

#licence img {
    width: 50px;
}

#googlemaps {
	opacity: 0.8;
	padding: 0 0 0 0;
	background-color: grey;
	z-index: -2;
}

#googlemaps:hover {
	opacity: 1;
}